/* lab 3 task 22 */
* { margin: 5px; padding: 0; }

.large-font {
	font-size: 1.2em;
	background-color: #ABC;
}

.middle-font {
	font-size: 14px;
	background-color: rgb(222, 246, 211);
}

.small-font {
	font-size: 50%;
	background-color: olive;
}

#about p::first-letter {
	font-size: 24px;
	font-family: "Times New Roman", Times, serif;
	color: red;
}

/* lab 3 task 20 */
#departments-links a {
	color: rgba(1, 15, 46, 0.5);
}
/* lab 3 task 21 */
/* Збільшую пріоритетність */
#departments-links a[href*="gov.ua"] {
	font: bold;
	color: red;
}

/* lab 3 task 23 */
h3 {
	font: bold 18px "Century Gothic", Arial, serif;
}

/* lab 3 task 24 */
nav, nav:hover { font-size: 24px; }
nav {
	background-color: #123;
}
nav a:hover {
	background-color: #EDC;
}
nav ul {
	list-style-type: none;
}
nav a:visited {
	color: #000;
}

/* lab 3 task 25 */
tr:nth-child(even) {
	background-color: #D11;
}

tr:nth-child(odd) {
	background-color: #DDD;
}

col:first-child {
	background-color: #FF0;
}

/* lab 3 task 26 */
#customers {
	border: 1px dashed #888;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	padding: 15px;
}

/* lab 4 task 1 */
.in-columns-elem {
	display: inline-block;
}

nav, #departments-links, #documents-links {
	margin: 10px;
	padding: 5px;
	border: 2px dotted #234;
}

#text-scroll {
	margin: 25px;
	width: 400px;
	height: 150px;
	overflow: auto;
}

#bg-fixed {
	margin: 25px; /* should be inherited via SASS */
	width: 400px;
	height: 250px;
	background: fixed #223 url(../images/scroll-pic.jpg) 0 0 repeat-y;
	color: #EFEFEF;
}

#newspaper-mode {
	align-content: all;
}

#save-request:enabled, 
#save-request:disabled,
#cancel-request:enabled, 
#cancel-request:disabled {
	border: 2px solid #e1e1d2;
	border-radius: 10px;
	padding: 5px;
}

#save-request:enabled {
	background: #9c9;
}

#save-request:disabled {
	background: #999;
}

#cancel-request:enabled {
	background: #c99;
}

#cancel-request:disabled {
	background: #999;
}

#newspaper-mode {
	text-align: justify;
	-moz-column-count: 4;
	-webkit-column-count: 4;
	column-count: 4;
	text-align: justify;
}

#fancy-font {
	font-family: 'Alex Brush', cursive;
	font-size: 30px;
	max-width: 960px;
	border: 1px dashed #888;
}

#fancy-font img {
	float: right;
}

#shadow-header {
	text-shadow: 1px 3px rgba(156, 189, 213, 0.75);
}

#column1,
#column2,
#column3 {
	margin: 10px;
	padding: 15px;
	width: 30%;
}


/*lab 4 task 11*/
#column1 {
	border-radius: 15px;
	background: #164;
	color: #EFEFA1;
	padding: 10px;
	float: left;
}

/*lab 4 task 12*/
#column2 {
	background: #fff url(../images/bg-repeat.png) 0 0 repeat-x;
	display: inline-block;
	margin: auto;
}

/*lab 4 task 13*/
#column3 {
	background: -webkit-linear-gradient(left, 
		#CCF 0%,
		#CFC 25%,
		#FCC 50%,
		#FFF 100%
	);
	float: right;
}

#animation-translate,
#animation-rotate,
#animation-scale {
	margin: 50px;
	-webkit-transition-duration: 1s; /* Safari */
	transition-duration: 1s;
}

#animation-translate:hover {
	-ms-transform: translate(50px, 100px); /* IE 9 */
	-webkit-transform: translate(50px, 100px); /* Safari */
	transform: translate(50px, 100px);

}

#animation-rotate:hover {
	-ms-transform: rotate(20deg); /* IE 9 */
	-webkit-transform: rotate(20deg); /* Safari */
	transform: rotate(20deg);

}

#animation-scale:hover {
	-ms-transform: scale(2, 3); /* IE 9 */
	-webkit-transform: scale(2, 3); /* Safari */
	transform: scale(2, 3);

}

#style-change {
	color: #012;
	background: #ECF;
	font-size: 36px;
	font-weight: bold;
	right: 10%;
	width: 560px;
}

#style-change:hover {
	color: #ECF;
	background: #012;
	font-style: italic;
	right: 12%;
	width: 720px;
}
