@import url(https://fonts.googleapis.com/css?family=Tangerine:700);
@import url(https://fonts.googleapis.com/css?family=Roboto:100italic);
html, body, ul, ol, div { margin: 0; padding: 0; }

.in-center, .in-columns .in-columns-elem { margin: auto; }

.mar-pad-small, .lining-layer, #services, #customers, .button-common, form .user-actions button, form .user-actions #submit-request, form .user-actions #cancel-request, form .user-actions #save-request { margin: 5px; padding: 5px; }

.mar-pad-medium, #services, #customers, #operations-with-paragraphs #column1, #operations-with-paragraphs #column2, #operations-with-paragraphs #column3 { margin: 10px; padding: 10px; }

.mar-pad-large, #operations-with-paragraphs #animation-translate, #operations-with-paragraphs #animation-rotate, #operations-with-paragraphs #animation-scale { margin: 25px; padding: 25px; }

.lining-layer, #services, #customers { background: rgba(255, 255, 255, 0.5) 0 0 no-repeat; box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); }

.button-common, form .user-actions button, form .user-actions #submit-request, form .user-actions #cancel-request, form .user-actions #save-request { border-radius: 50px; width: 75px; }
.button-common:disabled, form .user-actions button:disabled, form .user-actions #submit-request:disabled, form .user-actions #cancel-request:disabled, form .user-actions #save-request:disabled { background: #ebebe4; color: rgba(0, 0, 0, 0.25); }

body { font: 100% Helvetica, Arial, sans-serif; background: #cceae7; padding: 0 15px; }

header #rotated-blockquote { margin: 5% auto; width: 420px; }
header blockquote { margin: auto; text-align: center; font-family: Roboto; font-size: 28px; transform: rotate(-5deg); }
header blockquote hr { width: 100%; margin: auto; }

#about h4 + p { border: 2px dotted red; }
#about .first-letter-common, #about .small-font:first-letter, #about .middle-font:first-letter, #about .large-font:first-letter { font-family: 'Tangerine', cursive; color: red; }
#about .small-font { font-size: 0.65em; background: rgba(193, 193, 255, 0.4); }
#about .small-font:first-letter { font-size: 1.95em; }
#about .middle-font { font-size: 1em; background: rgba(255, 193, 193, 0.4); }
#about .middle-font:first-letter { font-size: 3em; }
#about .large-font { font-size: 1.35em; background: rgba(193, 255, 193, 0.4); }
#about .large-font:first-letter { font-size: 4.05em; }

#departments-links a[href*="gov.ua"] { font-weight: bold; color: red; }

#services li { color: #DDEEFF; background-color: #221100; }

#services-info dd:nth-child(2n), #services-info dd:nth-child(2n - 1), #services-info dt:nth-child(2n), #services-info dt:nth-child(2n - 1) { background: #404040; color: #00bf00; }
#services-info dd:nth-child(4n), #services-info dd:nth-child(4n - 1), #services-info dt:nth-child(4n), #services-info dt:nth-child(4n - 1) { background: gray; color: #007f00; }
#services-info dd:nth-child(6n), #services-info dd:nth-child(6n - 1), #services-info dt:nth-child(6n), #services-info dt:nth-child(6n - 1) { background: #bfbfbf; color: #004000; }
#services-info dd:nth-child(8n), #services-info dd:nth-child(8n - 1), #services-info dt:nth-child(8n), #services-info dt:nth-child(8n - 1) { background: white; color: black; }
#services-info dd { padding-left: 10px; }

.in-columns .in-columns-elem { display: inline-block; vertical-align: top; }
.in-columns .in-columns-elem ol, .in-columns .in-columns-elem ul { list-style-type: none; overflow: hidden; }

#customers { width: 420px; height: 70px; }
#customers li { text-align: center; display: inline-block; width: 105px; background: #c1ffc1; float: left; height: 42px; }

#financial caption { font-size: 120%; text-align: left; }
#financial caption::before { font-size: 12px; content: "Table: "; }
#financial tr:nth-child(2n) { background: #b766c0; }
#financial tr:nth-child(2n + 1) { background: #c0b766; }
#financial tr:last-child { background: #cceae7; }
#financial tr:last-child td { color: #009688; }
#financial tr:last-child td::before { content: "$"; }

form div, form p { margin-left: 2%; }
form input[readonly="readonly"] { background: #ebebe4; }
form .user-actions { display: inline-block; }
form .user-actions button, form .user-actions #submit-request, form .user-actions #cancel-request, form .user-actions #save-request { margin: 0 2%; }
form .user-actions #submit-request { background: #c1c1ff; }
form .user-actions #cancel-request { background: #f88; }
form .user-actions #save-request { background: #8f8; }

#operations-with-paragraphs #text-scroll { width: 400px; height: 150px; overflow: auto; }
#operations-with-paragraphs #bg-fixed { background: fixed #223 url(http://www.planwallpaper.com/static/images/colorful-triangles-background_yB0qTG6.jpg) 0 0 no-repeat; color: #1e1e22; }
#operations-with-paragraphs #newspaper-mode { text-align: justify; -moz-column-count: 4; -webkit-column-count: 4; column-count: 4; }
#operations-with-paragraphs #fancy-font { font-family: 'Alex Brush', cursive; font-size: 30px; max-width: 840px; }
#operations-with-paragraphs #fancy-font img { float: right; }
#operations-with-paragraphs #shadow-header { text-shadow: 1px 3px rgba(0, 0, 0, 0.5); }
#operations-with-paragraphs #column1, #operations-with-paragraphs #column2, #operations-with-paragraphs #column3 { margin: 0; padding: 0; width: 33.33%; }
#operations-with-paragraphs #column1 { border-radius: 15px; background: #164; color: #EFEFA1; }
#operations-with-paragraphs #column2 { background: #fff url(../images/bg-repeat.png) 0 0 repeat-x; display: inline-block; margin: auto; }
#operations-with-paragraphs #column3 { background: -webkit-linear-gradient(left, #CCF 0%, #CFC 25%, #FCC 50%, #FFF 100%); }
#operations-with-paragraphs #animation-translate, #operations-with-paragraphs #animation-rotate, #operations-with-paragraphs #animation-scale { -webkit-transition-duration: 1s; transition-duration: 1s; }
#operations-with-paragraphs #animation-translate:hover { -ms-transform: translate(50px, 100px); -webkit-transform: translate(50px, 100px); transform: translate(50px, 100px); }
#operations-with-paragraphs #animation-rotate:hover { -ms-transform: rotate(20deg); -webkit-transform: rotate(20deg); transform: rotate(20deg); }
#operations-with-paragraphs #animation-scale:hover { -ms-transform: scale(2, 3); -webkit-transform: scale(2, 3); transform: scale(2, 3); }
#operations-with-paragraphs #style-change { color: #1e1e22; background: #c1ffc1; font-size: 30px; font-weight: bold; right: 10%; width: 630px; max-height: 360px; overflow: scroll; }
#operations-with-paragraphs #style-change:hover { color: #c1ffc1; background: #1e1e22; font-style: italic; right: 12%; }

/* style in .html-file (generally bad form) */
[style] { border: 2px solid red; }
[style]:after { content: " (Do not put style in HTML!)"; }

/* headers 1-6 */
.h-common, h1, h2, h3, h4, h5, h6 { color: #c1ffc1; background: #888; font-weight: bold; font-family: "Century Gothic", Arial, serif; }

h1 { font-size: 36px; }

h2 { font-size: 30px; }

h3 { font-size: 24px; }

h4 { font-size: 18px; }

h5 { font-size: 12px; }

h6 { font-size: 6px; }

/* commot style rule for all anchors (links) */
a { color: #5c5c5c; text-decoration: none; }
a:hover { color: #252525; background: #c1ffc1; text-decoration: underline; }
